numpy==2.0.2
librosa==0.10.2.post1
soundfile==0.13.1
noisereduce==3.0.3
tqdm==4.67.1

torch==2.7.1
torchaudio==2.7.1

speechbrain==1.1.0
huggingface_hub==0.23.5

scikit-learn==1.7.1
joblib==1.5.1
matplotlib==3.10.5
pandas==2.3.3

customtkinter==5.2.2
pillow==11.3.0 
tkinterdnd2==0.4.3 